/* Aqua */
:root {
  --main-dark: #5B8E90;
  --main: #77BABC;
  --main-light: #8ED1CC;
  --gray-dark: #1D1D24;
  --gray: #23232D;
  --gray-light: #2C2C36;
  --gray-selection: #31313B;
  --text: #959595;
  --light: #AAAAAA;
}
.icon-message-views,
.icon-select-tick,
.im_message_file_button_icon,
.md_modal_split_action_camera,
.md_modal_split_action_msg,
.md_modal_split_action_twitter {
  -webkit-filter: hue-rotate(-30deg) !important;
  filter: hue-rotate(-30deg) !important;
}
.composer_command_btn.active .icon-slash,
.composer_emoji_insert_btn:active .icon-emoji,
.composer_emoji_insert_btn_on .icon-emoji,
.composer_emoji_tooltip_category.active i,
.icon-about,
.icon-contacts,
.icon-faq,
.icon-keyboard,
.icon-new-group,
.icon-settings,
.im_attach:active .icon-paperclip,
.im_dialog_pinned,
.im_media_attach:active .icon-camera,
.im_record:active .icon-mic {
  -webkit-filter: brightness(50%) sepia(1) hue-rotate(144.4deg) saturate(151.4%) brightness(140%) !important;
  filter: brightness(50%) sepia(1) hue-rotate(144.4deg) saturate(151.4%) brightness(140%) !important;
}
