/* Cream */
:root {
  --main-dark: #908B67;
  --main: #B9B384;
  --main-light: #D0CA94;
  --gray-dark: #191919;
  --gray: #222222;
  --gray-light: #272727;
  --gray-selection: #2C2C2C;
  --text: #959595;
  --light: #AAAAAA;
}
.icon-message-views,
.icon-select-tick,
.im_message_file_button_icon,
.md_modal_split_action_camera,
.md_modal_split_action_msg,
.md_modal_split_action_twitter {
  -webkit-filter: hue-rotate(200deg) !important;
  filter: hue-rotate(200deg) !important;
}
.composer_command_btn.active .icon-slash,
.composer_emoji_insert_btn:active .icon-emoji,
.composer_emoji_insert_btn_on .icon-emoji,
.composer_emoji_tooltip_category.active i,
.icon-about,
.icon-contacts,
.icon-faq,
.icon-keyboard,
.icon-new-group,
.icon-settings,
.im_attach:active .icon-paperclip,
.im_dialog_pinned,
.im_media_attach:active .icon-camera,
.im_record:active .icon-mic {
  -webkit-filter: brightness(50%) sepia(1) hue-rotate(17deg) saturate(98%) brightness(150%) !important;
  filter: brightness(50%) sepia(1) hue-rotate(17deg) saturate(98%) brightness(150%) !important;
}
