/* Green */
:root {
  --main-dark: #4B8B60;
  --main: #63B97F;
  --main-overlay: #63B97F4C;
  --main-light: #7AD08F;
  --gray-dark: #19191A;
  --gray-dark-tp: #19191A01;
  --gray: #212122;
  --gray-light: #2A2A2C;
  --gray-selection: #2F2F31;
  --text: #AAAAAA;
  --light: #CCCCCC;
  --white: #FFFFFF;
}
.icon-select-tick,
.im_message_file_button_icon,
.md_modal_split_action_camera,
.md_modal_split_action_msg,
.md_modal_split_action_twitter {
  -webkit-filter: hue-rotate(-85deg) !important;
  filter: hue-rotate(-85deg) !important;
}
.composer_command_btn.active .icon-slash,
.composer_emoji_insert_btn:active .icon-emoji,
.composer_emoji_insert_btn_on .icon-emoji,
.composer_emoji_tooltip_category.active i,
.icon-about,
.icon-contacts,
.icon-faq,
.icon-keyboard,
.icon-new-group,
.icon-settings,
.im_attach:active .icon-paperclip,
.im_dialog_pinned,
.im_media_attach:active .icon-camera,
.im_record:active .icon-mic {
  -webkit-filter: brightness(50%) sepia(1) hue-rotate(90deg) saturate(150%) brightness(140%) !important;
  filter: brightness(50%) sepia(1) hue-rotate(90deg) saturate(150%) brightness(140%) !important;
}
