/* Red */
:root {
  --main-dark: #B35843;
  --main: #FF7B5D;
  --main-light: #FF926D;
  --gray-dark: #262A2E;
  --gray: #2B3034;
  --gray-light: #2F353A;
  --gray-selection: #33393E;
  --text: #959595;
  --light: #AAAAAA;
}
.icon-select-tick,
.im_message_file_button_icon,
.md_modal_split_action_camera,
.md_modal_split_action_msg,
.md_modal_split_action_twitter {
  -webkit-filter: hue-rotate(160deg) !important;
  filter: hue-rotate(160deg) !important;
}
.composer_command_btn.active .icon-slash,
.composer_emoji_insert_btn:active .icon-emoji,
.composer_emoji_insert_btn_on .icon-emoji,
.composer_emoji_tooltip_category.active i,
.icon-about,
.icon-contacts,
.icon-faq,
.icon-keyboard,
.icon-new-group,
.icon-settings,
.im_attach:active .icon-paperclip,
.im_dialog_pinned,
.im_media_attach:active .icon-camera,
.im_record:active .icon-mic {
  -webkit-filter: brightness(50%) sepia(1) hue-rotate(-26.6deg) saturate(308.4%) brightness(130%) !important;
  filter: brightness(50%) sepia(1) hue-rotate(-26.6deg) saturate(308.4%) brightness(130%) !important;
}
